<h2>Liste des Classes</h2>
<br/>
<button (click)="create()"class="btn btn-primary">Créer une nouvelle classe</button>
<br/><br/>
<div>
  <div>
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Filtre">
    </div>

    <p-dataTable [value]="classes" [rows]="7" [paginator]="true" [globalFilter]="gb" #dt>
      <p-column field="id" header="Identifiant" [sortable]="true"></p-column>
      <p-column field="libelle" header="Libelle" [sortable]="true"></p-column>
      <p-column field="modif" header="Action" >
        <ng-template let-classe="rowData" pTemplate="body">
          <button type="button" pButton (click)="show(classe.id)" class="btn btn-primary">Consulter</button>
          <button type="button" pButton (click)="edit(classe.id)" class="btn btn-primary">Modifier</button>
        </ng-template>
      </p-column>
    </p-dataTable>

  </div>
