<div *ngIf='this.classe' class="container">
    <h1>Modifier les informations de la classe: {{classe.id}} - {{classe.libelle}}</h1>
    <form novalidate [formGroup]="form" (ngSubmit)="save()">
        <label>Libellé</label>
        <input type="text" class="form-control" formControlName="libelle" required>
      <span>
        <button type="submit" class="btn btn-success">Modifier</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Annuler</button>
      </span>
    </form>

</div>
