<h2>A propos de nous</h2>
<h4>Cette application a été développée pour la bourse aux livres du lycée Gustave Eiffel de Bordeaux</h4>
<p-fieldset legend="Contributeurs" [toggleable]="true" [collapsed]="true">

  <img src="../../../assets/eiffel.png" height="125" width="125"/></p-fieldset>
<p-fieldset legend="Changelog" [toggleable]="true" [collapsed]="true">
    <ul>
        <li>
        V1. Equipe MIAGE, développement des fonctionnalités coeur de l'application, mise en place de css et de composants graphiques.
        </li>
        <li>
        V1.1 à venir...
        </li>
    </ul>
</p-fieldset>
