<div class="container">
    <h1>Creer un élève</h1>
    <form novalidate [formGroup]="form" (ngSubmit)="save()">
        <label>Nom</label>
        <input type="text" class="form-control" formControlName="nom" required>
        <label>Prenom</label>
        <input type="text" class="form-control" formControlName="prenom">
        <label>Date de naissance</label>
       <input type="text" class="form-control" formControlName="dateNaissance">
        <label>Téléphone</label>
        <input type="text" class="form-control" formControlName="tel">
        <label>Mail</label>
        <input type="email" class="form-control" formControlName="mail">
        <label>Remarques</label>
        <input type="text" class="form-control" formControlName="remarques">

        <br/>
        <h3>Choisir un adhérent</h3>
        <br/>
        <div>
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Filtre">
          </div>
          <p-dataTable  selectionMode="single" [(selection)]="selectedAdherent" [value]="adherents" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
            <p-column field="id" header="Identifiant" [sortable]="true"></p-column>
            <p-column field="nom" header="Nom" [sortable]="true"></p-column>
            <p-column field="prenom" header="Prenom" [sortable]="true"></p-column>
          </p-dataTable>
        </div>
      <br/>
      <span>
      <button type="submit" class="btn btn-success">Creer l'élève</button>
      <button type="button" class="btn btn-danger" (click)="back()">Retour</button>
      </span>
    </form>
</div>
